#dashboard_kunye .inside {
    margin: 0;
    padding: 0;
}

#dashboard_kunye .kunyeDescription {
    background-color: #f6f7f7;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #f0f0f1;
    padding-top: 0;
    padding: 12px 15px;
    border-left: 4px solid #f53d3d;
}

#dashboard_kunye .cardContainer {
    display: grid;
    grid-template-columns: auto 120px;
}

#dashboard_kunye .cardInfo {
    display: grid;
    grid-template-columns: 60px auto;
    padding: 10px;
}

#dashboard_kunye .cardInfo .title {
    margin-bottom: 4px;
}

#dashboard_kunye .notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}